body{
  background-color: white;
  color: black;
  text-align: center;
}

button{
  background-color: Gold;
  color: black;
  border: none;
  padding: 10px;
  border-radius: 20px;
  margin: 10px;
  cursor: pointer;
  display: inline-block;
}
